
.titles {
    animation: fadein 1s;
    z-index: 1;
    display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 20%;
    text-align: center;

}
.title{
    padding-bottom: 350px;
}
.titles div.title div.subject {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 50px;

}
.titles div.title div.description {
    width: 1500px;
    font-size: 20px;
    text-align: center;
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}