.Team{
  font-family: 'owo';
}
.menu{
  font-family: 'owo';
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 10px;
  color: #f5f5f5;
}
.owo{
  background: #a5d1fa;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 10px;
  color: #f5f5f5;
}

.menubar{
  z-index: 1;
  position: absolute;
  background-color: #333a498c;
  width: 1920px;
  height: 100px;
  box-shadow: 0 1px 5px #000000;
}


@font-face {
  font-family: 'owo';
  src: url('./font/AppleSDGothicNeoB.ttf');
}