
.Team-owo{
  color: #646464;
} 
html, body {
  background: #EAEAEA;
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 150vh;
  font-family: 'owo';
  font-size: 10px;
}
.menu{
  color: #646464;
  background-color: #000000c7;
  box-shadow: 0 1px 5px #000000;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100px;
}

.content{
  height: 0;
  position: absolute;
  top: 50%;
  min-width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}
.logo{
  
  border-radius: 7px;
  z-index: 2;
  height: 64px;
  width: 64px;
}

.logo:hover{ cursor: pointer;}
.complete{
  text-shadow: 0 2px 20px #00000050;
  z-index: 1;
  font-size: 18px;
  color: #ffffffaf;
}

.complete:link {text-decoration: none; color: #e6e6e67a;}
.complete:hover {text-decoration: none; color: #ffffffd8;}



.projecting{
  text-shadow: 0 2px 20px #00000050;
  z-index: 1;
  font-size: 18px;
  color: #ffffffaf;
}
.projecting:link {text-decoration: none; color: #e6e6e67a;}
.projecting:hover {text-decoration: none; color: #ffffffd8;}

.outline{
  text-shadow: 0 2px 20px #00000050;
  z-index: 1;
  font-size: 18px;
  color: #ffffffaf;
}

.outline:link {text-decoration: none; color: #e6e6e67a;}
.outline:hover {text-decoration: none; color: #ffffffd8;}

.about_underline{
  text-shadow: 0 2px 20px #00000050;
  z-index: 1;
  font-size: 18px;
  color: #ffffffaf;
}

.about_underline:link {text-decoration: underline; color: #e6e6e67a;}
.about_underline:hover {text-decoration: underline; color: #ffffffd8;}

.about{
  text-shadow: 0 2px 20px #00000050;
  z-index: 1;
  font-size: 18px;
  color: #ffffffaf;
}

.about:link {text-decoration: none; color: #e6e6e67a;}
.about:hover {text-decoration: none; color: #ffffffd8;}








.into{
  z-index: 1;
  position: absolute;
  top: 150px;
  left:50%; 
  transform:translateX(-50%);
  font-weight: bold;
  font-size: 35px;
  animation: fadein 3s;
  color: #ffffff;
  text-shadow: 0 5px 15px #000000a1;

}

.projects {
  display: flex;
	flex-wrap: wrap;
  align-content: space-around;
  position: relative;
  top: 500px;
  flex-direction: column;
}
.project{
  animation: fadein 3s;
  z-index: 1;
  display: flex;
  overflow: hidden;
  margin: 2.5rem 1rem;
  min-width: 80rem;
  border-radius: 10px;
  background-color: #bbbbbb;
}
.project img{
  height: 150px;
}
.project div.info{  
  display: flex;
  max-width: 70rem;
  flex-direction: row;
  padding: 1rem 1rem;
}
.project div.title{
  margin-top: 5rem;
  font-size: 18px;
  font-weight: bold;
  padding: 0rem 1rem 0rem 0rem;
}
.project div.description{
  font-weight: 300;
  font-size: 13.5px;
}
.DDANG{
  z-index: 1;
  position:absolute;
  top: 1200px;
  left: 50%; 
  transform:translateX(-50%);
}
.DDANG_comment{
  
  z-index: 1;
  position:absolute;
  font-size: 15px;
  top: 1100px;
  left: 50%; 
  transform:translateX(-50%);
}
.discord{
  animation: fadein 3s;
  z-index: 1;
  position: absolute;
  top: 1100px;
  left: 1750px;
  box-shadow: 0 1px 5px #000000;
  border-radius: 5px;
  width: 350px;
  height: 500px;
  border: 0;
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@font-face {
  font-family: 'owo';
  src: url('./font/AppleSDGothicNeoB.ttf');
}